.movie-details{
   width: 1300px;
   margin: 0 auto;
}

.movie-details__container{
   display: flex;
   justify-content: space-around;
   margin-top: 20px;
}

.movie-details__poster{
   height: 500px;
   width: 350px;
   margin-right: 110px;
}

.poster_container{
   word-wrap: break-word;
   width: 350px;
}
.video_container{
   word-wrap: break-word;
   width: 800px;
}

.actors-list{
   display: flex;
   justify-content:space-evenly;
   
}
@media (max-width: 1350px) {
	.movie-details {
      width: 1000px;
}
.actors-list{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   row-gap: 25px;
   column-gap: 25px;
}
}

@media (max-width: 1250px) {
	.movie-details__container {
      width: 1000px;
}
.movie-details__poster {
   margin-right: 25px;
}
.video_container {
   width: 600px;
}
iframe{
width:600px;
height: 420px;
}
}

@media (max-width: 1050px){
   .movie-details__container{
      display:block;
   }
   .actors-list{
      display: grid;
      grid-template-columns: repeat(3,0.5fr);
      row-gap: 25px;
      column-gap: 25px;
   }
   }
   @media (max-width: 870px){
     
      .actors-list{
         display: grid;
         grid-template-columns: repeat(2,0.5fr);
         row-gap: 25px;
         column-gap: 25px;
      }
      .movie-details__title{
         font-size: 20px;
      }
      }

@media (max-width: 650px){
   iframe{
      width:300px;
      height: 200px;
      }
      .movie-details__poster{
         height: 450px;
         width: 300px;
      }
      .movie-details{
         width: 300px;
      }
      .video_container {
         width: 300px;
      }
      .actors-list{
         display: grid;
         grid-template-columns: repeat(1,0.5fr);
         row-gap: 25px;
         column-gap: 25px;
      }
      .poster_container{
         word-wrap: break-word;
         width: 300px;
      }
}