.movies{
   margin-top: 10px;
}

.movies__container{
   display: grid;
   justify-content:center;
   align-content: center;
   
}

.movies-list{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   column-gap: 50px;
   row-gap: 50px;
   margin-bottom:50px;
}

@media (max-width: 1350px) {
	.movies-list {
      grid-template-columns: repeat(4,1fr);
	}
}
@media (max-width: 1050px) {
	.movies-list {
      grid-template-columns: repeat(3,1fr);
	}
}
@media (max-width: 850px) {
	.movies-list {
      column-gap: 25px;
      grid-template-columns: repeat(3,1fr);
	}
}
@media (max-width: 750px) {
	.movies-list {
      column-gap: 25px;
      grid-template-columns: repeat(2,1fr);
	}
}
@media (max-width: 490px) {
	.movies-list {
      grid-template-columns: repeat(1,1fr);
      row-gap: 25px;
      column-gap: 0px;
      max-width:202px;
	}
}
.load-more{
   margin:0 auto;
   display: flex;
text-align: center;
justify-content:center;
align-items: center;
height: 60px;
padding: 0px 30px;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 18px;
border-radius: 10px;
position: relative;
top: 0;
}
.load-more__button{
   display: flex;
   text-align: center;
   justify-content:center;
   align-items: center;
   height: 60px;
   width: 200px;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 18px;
   border-radius: 10px;
   position: relative;
   top: 0;
   color: #fff;
   background-color: rgb(102, 100, 100);
   box-shadow: 0 5px 0px black;
   transition-duration: 0.5s;

}

.load-more__button:hover{
   top: 2px;
   color: black;
box-shadow: 0 3px 0px black;
opacity: 0.6;
cursor: pointer;
}
.form_container{
   display: flex;
   justify-content: flex-end;
   margin-bottom: 20px;
   margin-right: 50px;
}
@media (max-width: 840px) {
	.form_container {
		margin-right: 10px;
	}
}
.form{
position: relative;
}
.textbox{
border: 1px solid black;
border-radius: 5px;
outline: none;
background: white;
padding: 10px;
color:black;
font-weight: 500;
font-size: 16px;
}
.form-label{
color: black;
position: absolute;
top:0.6rem;
left:1.4rem;
cursor: text;
transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}
.textbox:focus{
   border: 1px solid white;
   background: grey;
}
.textbox:focus ~ .form-label,
.textbox:not(:placeholder-shown).textbox:not(:focus)~.form-label
{
   top: -0.3rem;
   left: 0.5rem;
   font-size: 10px;
   background: grey;
}